<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost/nutrish</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">0xB5HweaDz</property>
        <property name="connection.hbm2ddl.auto">update</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

        <property name="hibernate.archive.autodetection">class,hbm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">0xB5HweaDz</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/nutrish</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="greg.info.flatfile.entities.Abbreviations"/>
        <mapping class="greg.info.relational.entities.DataDerivation"/>
        <mapping class="greg.info.relational.entities.DataSource"/>
        <mapping class="greg.info.relational.entities.DataSourceLink"/>
        <mapping class="greg.info.relational.entities.FoodDescription"/>
        <mapping class="greg.info.relational.entities.FoodGroup"/>
        <mapping class="greg.info.relational.entities.Footnote"/>
        <mapping class="greg.info.relational.entities.LanguaL"/>
        <mapping class="greg.info.relational.entities.LanguaLDescription"/>
        <mapping class="greg.info.relational.entities.NutrientData"/>
        <mapping class="greg.info.relational.entities.NutrientDefinition"/>
        <mapping class="greg.info.relational.entities.SourceCode"/>
        <mapping class="greg.info.relational.entities.Weight"/>
    </session-factory>
</hibernate-configuration>